#brand {
  max-width: 70px;
  max-height: 70px;
}


#label-color {
  color: white
}

#font-color {
  color: white
}

#navbar-item-custom {
  color: white;
  font-size: 30px;
}

#background {
  background-color: #212121;
}

#Logo {
  max-width: 300px;
  max-height: 300px;
}

#custom-form {
  background-color: #303030;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
