#brand {
  max-width: 70px;
  max-height: 70px;
}

#profile_picture {
  width: 200px;
  max-height: 300px;
  border-radius: 10%
}

#label-color {
  color: white
}

#gameposter {
  width: 300px
}

#font-color {
  color: white
}

#navbar-item-custom {
  color: white;
  font-size: 30px;
}

#background {
  background-color: #212121;
}

#Logo {
  max-width: 300px;
  max-height: 300px;
}

#custom-form {
  background-color: #303030;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#post-des-font {
  font-family: 'Arial', cursive;
}

#post-background {
  background-color: #494949;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
